Lecture/
Task_1_Comparisons_in_fractions/x64/
Task_1_Comparisons_in_fractions/.vs/
Task_1_Comparisons_in_fractions/Task_1_Comparisons_in_fractions.vcxproj.user
Task_2_Other_operations_with_fractions/x64/
Task_2_Other_operations_with_fractions/.vs/
Task_2_Other_operations_with_fractions/Task_2_Other_operations_with_fractions.vcxproj.user